<!-- <nav class="navbar navbar-dark navbar-expand-sm bgcolor">
  <div class="container">
    <a href="/" class="navbar-brand"> Universal Hardware </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" id="nav">
        <li class="nav-item">
          <a routerLink="" class="nav-link active"> Home </a>
        </li>
        <li class="nav-item">
          <a routerLink="products" class="nav-link active"> Our Products </a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link active"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<header>
  <nav class="navbar navbar-expand-lg bgcolor" id="navbar-header ">
    <div class="container">
      <a class="nav-link active" aria-current="page" routerLink="/">
        <span class="fs-4 ms-2 text-white">Universal Hardware</span>
      </a>

      <button
        id="nav-toggle-button"
        class="navbar-toggler custom-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse justify-content-end collapse"
        id="navbarSupportedContent"
      >
        <ul id="navbar-links" class="navbar-nav px-1">
          <li class="nav-item px-2">
            <a
              class="nav-link links text-white"
              aria-current="page"
              routerLink=""
            >
              Home
            </a>
          </li>
          <li class="nav-item px-2">
            <a
              class="nav-link links text-white"
              aria-current="page"
              routerLink="products"
            >
              Products
            </a>
          </li>
          <li class="nav-item px-2">
            <a
              class="nav-link links text-white"
              aria-current="page"
              routerLink="contact"
            >
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
