<header>
  <nav class="navbar navbar-expand-lg bgcolor" id="navbar-header ">
    <div class="container">
      <a href="/" class="navbar-brand text-white"> Universal Hardware </a>

      <button
        id="nav-toggle-button"
        class="navbar-toggler custom-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse justify-content-end collapse"
        id="navbarSupportedContent"
      >
        <ul id="navbar-links" class="navbar-nav px-1">
          <li class="nav-item px-2">
            <a routerLink="" class="nav-link active clr"> Home </a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="/products" class="nav-link active clr">
              Our Products
            </a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="/contact" class="nav-link active clr">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
