<nav class="navbar navbar-dark navbar-expand-sm bgcolor">
  <div class="container">
    <a href="/" class="navbar-brand"> Universal Hardware </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" id="nav">
        <li class="nav-item">
          <a routerLink="" class="nav-link active"> Home </a>
        </li>
        <li class="nav-item">
          <a routerLink="products" class="nav-link active"> Our Products </a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link active"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
