.main{
    margin-top: 25px;
    background-color: #eee;
    border-top: 3px solid #326789;
    border-bottom: 3px solid #326789;

}
.card-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
}

.card-view img{
    width: 250px;
    height: 250px;
    padding: 10px;
}


.view-btn{
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}

button {
    padding: 0.8em 1.8em;
    border: 2px solid #326789;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #326789;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background: #78A6C8;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #326789;
   }
   