.heading {
    font-weight: 700;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 40px;
  }
  
  .heading span {
    background: #e9eef2;
    padding: 0 10px;
  }
.card-section{
  max-width: 1310px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eee;
    border: 3px solid #326789;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-view img{
    width: 250px;
    height: 250px;
    margin: 25px 0;
}


.view-btn{
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}

button {
    padding: 0.8em 1.8em;
    border: 2px solid #326789;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    color: #326789;
    border-radius: 10px;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background: #78A6C8;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #fff;
   }
   
   @media (max-width: 1220px) {
    .cardSection {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      margin-left: 0px;
    }  
  }  
  
  @media (max-width: 991px) {
    .cardSection {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 0px;
    }  
  
    h5 {
      margin: 25px 2px;
    }  
  }  
  
  @media (max-width: 650px) {
    .cardSection {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 5px;
    }  
  }