<div class="heading">
    <h3>Our Products</h3>
</div>
<div class="main">
    <div class="card-section">
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/9/2/9290751_3.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/h/-/h--hepo-gas-spring-for-overhead_9.jpg" alt="">
    </div>
    </div>
    <div class="view-btn">
        <button>View Company products</button>
    </div>
</div>

<div class="main">
    <div class="card-section">
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/9/2/9290751_3.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/h/-/h--hepo-gas-spring-for-overhead_9.jpg" alt="">
    </div>
    </div>
    <div class="view-btn">
        <button>View Company products</button>
    </div>
</div>

<div class="main">
    <div class="card-section">
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/9/2/9290751_3.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/h/-/h--hepo-gas-spring-for-overhead_9.jpg" alt="">
    </div>
    </div>
    <div class="view-btn">
        <button>View Company products</button>
    </div>
</div>

<div class="main">
    <div class="card-section">
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/9/2/9290751_3.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg" alt="">
    </div>
    <div class="card-view">
        <img src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/h/-/h--hepo-gas-spring-for-overhead_9.jpg" alt="">
    </div>
    </div>
    <div class="view-btn">
        <button>View Company products</button>
    </div>
</div>