<div class="container">
  <h3 class="heading my-5"><span>Our Products</span></h3>
  <div class="card-section">
    <div class="card-view" *ngFor="let product of wicker">
      <img
        src={{product.image}}
        alt=""
      />
    </div>
  </div>
  <div class="view-btn">
    <button (click)="onClick(1)">
      View Wicker Basket products
    </button>
  </div>
  <div class="card-section">
    <div class="card-view" *ngFor="let product of rehau">
      <img
        src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/9/2/9290751_3.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="view-btn">
    <button (click)="onClick(2)">View Rehau products</button>
  </div>
  <div class="card-section">
    <div class="card-view" *ngFor="let product of hepo">
      <img
        src={{product.image}}
        alt=""
      />
    </div>
  </div>
  <div class="view-btn">
    <button (click)="onClick(3)">View Hepo Products</button>
  </div>
  <div class="card-section">
    <div class="card-view" *ngFor="let product of everyday">
      <img
        src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/9/2/9290751_3.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="view-btn">
    <button (click)="onClick(7)">View Everyday products</button>
  </div>
</div>
