<div class="container ">
  <div class="row justify-content-center mb-5">
    <div
      class="card col-md-6 col-lg-4 col-xs-4 mb-5 mx-2"
      *ngFor="
        let product of productsList
          | paginate : { itemsPerPage: 8, currentPage: pageNumber }
      "
    >
      <div class="card-header">
        <img src="{{ product.image }}" class="card-img-top" alt="" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">{{ product.company }}</span>
        <h3 class="name">{{ product.name }}</h3>
        <span class="text-center size"> {{ product.size }}</span>

        <p>
          {{ product.description }}
        </p>

        <div class="user">
          <div class="user-info">
            <!-- <h3 class="text-center">MRP:- {{ product.price }}/-</h3> -->
            <a class="btn text-center">MRP:- {{ product.price }}/-</a>
            <h6>Discount {{ product.discount }}</h6>
            <h6>GST {{ product.gst }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <!-- REHAU -->
  <button type="button" class="btn btn-outline-danger text-start" *ngIf="id == 2"><a class="txt" href="../../../../assets/catalogue/Rehau-PriceList.pdf"
    download="Rehau PriceList.pdf">
    Download
  </a></button>
  <!-- HEPO -->
  <button type="button" class="btn btn-outline-danger text-start" *ngIf="id == 3"><a class="txt" href="../../../../assets/catalogue/Hepo.pdf"
    download="Hepo PriceList.pdf">
    Download
  </a></button>
  <!-- EVERYDAY -->
  <button type="button" class="btn btn-outline-danger text-start" *ngIf="id == 7"><a class="txt" href="../../../../assets/catalogue/Everyday Pricelist.pdf"
    download="Everyday Pricelist.pdf">
    Download
  </a></button>
  <!-- GODREJ -->
  <button type="button" class="btn btn-outline-danger text-start" *ngIf="id == 8"><a class="txt" href="../../../../assets/catalogue/Godrej Product Price List Apr 22.pdf"
    download="Godrej PriceList.pdf">
    Download
  </a></button>
  <!-- EUROPA -->
  <button type="button" class="btn btn-outline-danger text-start" *ngIf="id == 9"><a class="txt" href="../../../../assets/catalogue/Europa.pdf"
    download="Europa PriceList.pdf">
    Download
  </a></button>

  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

</div>

