<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="../../../../assets/HomeLogo/everyday.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/HomeLogo/hepo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/HomeLogo/hettich.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/HomeLogo/rehau.png" height="100" width="250" alt="" />
		</div>
        <div class="slide">
			<img src="../../../../assets/HomeLogo/everyday.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/HomeLogo/hepo.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/HomeLogo/hettich.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/HomeLogo/rehau.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>