<!-- <div>
    <div class="main">
    <div class="every-day">
        <img src="../../../../assets//HomeLogo/everyday.png" alt="">
    </div>
    <div>
        <img src="../../../../assets//HomeLogo/hepo.png" alt="">
    </div>
    <div>
        <img src="../../../../assets//HomeLogo/hettich.png" alt="">
    </div>
    <div>
        <img src="../../../../assets//HomeLogo/rehau.png" alt="">
    </div>
</div>
<div class="main">
    <div class="every-day">
        <img src="../../../../assets//HomeLogo/everyday.png" alt="">
    </div>
    <div>
        <img src="../../../../assets//HomeLogo/hepo.png" alt="">
    </div>
    <div>
        <img src="../../../../assets//HomeLogo/hettich.png" alt="">
    </div>
    <div>
        <img src="../../../../assets//HomeLogo/rehau.png" alt="">
    </div>
</div>
</div> -->

<div class="main">
    <div class="logo-row">
        <div>
            <img src="../../../../assets//HomeLogo/everyday.png" alt="">
        </div>
        <div>
            <img src="../../../../assets//HomeLogo/hepo.png" alt="">
        </div>
        <div>
            <img src="../../../../assets//HomeLogo/hettich.png" alt="">
        </div>
        <div>
            <img src="../../../../assets//HomeLogo/rehau.png" alt="">
        </div>
    </div>
    <br>
    <div class="logo-row">
        <div>
            <img src="../../../../assets//HomeLogo/everyday.png" alt="">
        </div>
        <div>
            <img src="../../../../assets//HomeLogo/hepo.png" alt="">
        </div>
        <div>
            <img src="../../../../assets//HomeLogo/hettich.png" alt="">
        </div>
        <div>
            <img src="../../../../assets//HomeLogo/rehau.png" alt="">
        </div>
    </div>
</div>