<div class="main">
  <h3>Companies We Deal In</h3>
  <div class="logo-row-one">
    <div>
      <img (click)="navigate(7)" src="../../../../assets//HomeLogo/everyday.png" alt="" />
    </div>
    <div>
      <img (click)="navigate(3)" src="../../../../assets//HomeLogo/hepo.png" alt="" />
    </div>
    <div>
      <img (click)="navigate(8)" src="../../../../assets//HomeLogo/godrej-logo.svg" alt="" />
    </div>
    <div>
      <img (click)="navigate(2)" src="../../../../assets//HomeLogo/rehau.png" alt="" />
    </div>
  </div>
</div>
