.select_component {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #e9e9e9;
}

select {
  background-color: transparent;
  border-radius: 8px;
  border: none;
  padding: 8px;
  cursor: pointer;
  /* margin-right: 8px; */
}
