.main{
    max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}
.section-one img{
    width: 100%;
    padding-left: 200px;
    height: 400px;
}
.section-one{
    width: 50%;
    color: #000;
}
.section-two{
    width: 50%;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-two img{
    height: 200px;
}