.products-section{
    background-color: #ddd;
    width: 1400px;
    margin: 50px auto;
    height: 1500px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #171717;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.selector{
    display: flex;
    justify-content: space-between;
}
.company-info{
    margin: 25px 0;
}
h2{
    text-align: center;
    text-transform: uppercase;
}