<app-header></app-header>
<app-heading></app-heading>
<div class="products-section">
  <div class="selector">
    <h2>Company</h2>
    <app-selector></app-selector>
  </div>
  <div class="company-info">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero quia
    assumenda quis repudiandae distinctio? Cupiditate consequatur rerum possimus
    explicabo quam odit cumque dolor incidunt, officia blanditiis eligendi
    nostrum ex alias!
  </div>
  <h2>Company Products</h2>
  <section>
    <div class="container py-4">
      <div class="row justify-content-center mb-4">
        <div class="col-md-3 col-lg-3 col-sm-6 card-border">
          <div class="card text-black">
            <img
              src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg"
              class="card-img-top"
              alt="Apple Computer"
            />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">Product Title</h5>
                <p class="text-muted mb-2">Brand</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Size</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Description</span>
                </div>
              </div>
              <!-- <div
                class="d-flex justify-content-between total font-weight-bold"
              >
                <a to="#" class="btn btn-primary"> View Product </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6">
          <div class="card text-black">
            <img
              src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg"
              class="card-img-top"
              alt="Apple Computer"
            />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">Product Title</h5>
                <p class="text-muted mb-2">Brand</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Size</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Description</span>
                </div>
              </div>
              <!-- <div
                class="d-flex justify-content-between total font-weight-bold"
              >
                <a to="#" class="btn btn-primary"> View Product </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6">
          <div class="card text-black">
            <img
              src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg"
              class="card-img-top"
              alt="Apple Computer"
            />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">Product Title</h5>
                <p class="text-muted mb-2">Brand</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Size</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Description</span>
                </div>
              </div>
              <!-- <div
                class="d-flex justify-content-between total font-weight-bold"
              >
                <a to="#" class="btn btn-primary"> View Product </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-6">
          <div class="card text-black">
            <img
              src="https://hepoindia.com/pub/media/catalog/product/cache/36e26916d3573c3fd820f5a3750a4787/1/-/1--hepo-black-ka-channel--ankita-24-oct-_1__1_2.jpg"
              class="card-img-top"
              alt="Apple Computer"
            />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">Product Title</h5>
                <p class="text-muted mb-2">Brand</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Size</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Description</span>
                </div>
              </div>
              <!-- <div
                class="d-flex justify-content-between total font-weight-bold"
              >
                <a to="#" class="btn btn-primary"> View Product </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
