<app-header></app-header>
<app-heading></app-heading>
<div class="products-section">
    <div class="selector">
        <h2>Company</h2>
        <app-selector></app-selector>
    </div>
    <div class="company-info">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero quia assumenda quis repudiandae distinctio? Cupiditate consequatur rerum possimus explicabo quam odit cumque dolor incidunt, officia blanditiis eligendi nostrum ex alias!
    </div>
    <h2>Company Products</h2>
</div>
<app-footer></app-footer>
