<app-header></app-header>
<div class="contain">

    <div class="wrapper">
  
      <div class="form">
        <h4>GET IN TOUCH</h4>
        <h2 class="form-headline">Send us a message</h2>
        <form id="submit-form" action="">
          <p>
            <input id="name" class="form-input" type="text" placeholder="Your Name*">
            <small class="name-error"></small>
          </p>
          <p>
            <input id="email" class="form-input" type="email" placeholder="Your Email*">
            <small class="name-error"></small>
          </p>
          <p class="full-width">
            <input id="subject" class="form-input" type="text" placeholder="Subject*" required>
            <small></small>
          </p>
          <p class="full-width">
            <textarea  minlength="20" id="message" cols="30" rows="7" placeholder="Your Message*" required></textarea>
            <small></small>
          </p>
          <p class="full-width">
            <button>Submit</button>
          </p>
        </form>
      </div>
  
      <div class="contacts contact-wrapper">

      </div>
    </div>
  </div>
<app-footer></app-footer>