<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://i.pinimg.com/originals/71/30/1f/71301f55d824ee2aa292c697852362c2.jpg"
        class="d-block w-100 img"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../../assets/banner/banner1.png"
        class="d-block w-100 img"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://hepoindia.com/pub/media/wysiwyg/home-page/Hardware-for-Professionals_lates.jpg"
        class="d-block w-100 img"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
