<!-- Footer -->
<footer class="text-center text-lg-start">
  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">Universal Hardware</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            Established in the year 2011 at Mumbai Maharashtra, we “Universal
            Hardware” are a Sole Proprietorship based firm, engaged as the
            foremost Wholesaler and Retailer of Door Hinge, Door Handle, etc.
            Our products are high in demand due to their premium quality and
            affordable prices.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            <a href="/" class="text-dark">Home</a>
          </p>
          <p>
            <a href="/products" class="text-dark">Our Products</a>
          </p>
          <p>
            <a href="/contact" class="text-dark">Contact Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            <i class="fas fa-home mr-3"></i>42/44, Lokhandwala Building, Kika
            Street, Gulalwadi
          </p>
          <p>
            <i class="fas fa-envelope mr-3"></i> universalhardware2108@gmail.com
          </p>
          <p>
            <a class="text-dark" href="tel:+971503977378">
              <i class="fas fa-phone mr-3" style="color: black"></i>+91
              9819633072</a
            >
          </p>
          <!-- <p>
              <a class="text-black" href="tel:+971508065253">
                <i class="fas fa-print mr-3"></i> + 971 50 806 5253
              </a>
            </p> -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3 copyright">© UniversalHardware Copyright</div>
  <!-- Copyright -->
</footer>
