footer {
  background-color: #ddd;
  padding-top: 1px;
  border-top: 3px solid #171717;
}
.copyright {
  background-color: #da0037;
  color: #ddd;
}
a {
  text-decoration: none;
}
@media (max-width: 767px) {
  .txt {
    margin-right: 16px !important;
  }
}
